# Python
__pycache__/
*.py[cod]
*.so

# Secrets
.env
secrets/

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Packaging
pip-wheel-metadata/

# Logs
logs/
*.log

# Runtime
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db